<div class="banner hidden-xs" style="background-image: url('http://res.cloudinary.com/dvwx7yfcs/image/upload/v1490653917/Photo_fianc%CC%A7aille_1_se4pvs.png'); background-position: 50% 32%;">
  <div class="container">
    <div class="row">
      <div class="col-md-10 text-center col-md-offset-1 pv-20">
        <h2 class="title">Valentine et Thomas</h2>
      </div>
    </div>
    <div id="introduction" class="arrow-center arrow-banner">
        <a href="#introduction"><%= cl_image_tag("down-arrow-sketch_yddvt2.png") %></a>
    </div>
  </div>
</div>
<div class="banner-mobile hidden-sm hidden-lg hidden-md" style="background-image: url('http://res.cloudinary.com/dvwx7yfcs/image/upload/v1490653929/Photo_fianc%CC%A7aille_mobile_bmlwjh.png'); background-position: 42% 50%;">
  <div class="container">
    <div class="row">
      <div class="col-md-10 text-center col-md-offset-1 pv-20">
        <h2 class="title">Valentine et Thomas</h2>
      </div>
    </div>
    <div class="arrow-center hidden-xs">
        <%= cl_image_tag("down-arrow-sketch_yddvt2.png") %>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <ul class="nav nav-tabs nav-justified hidden-xs">
      <li role="presentation"><a href="#deroulement">Déroulement</a></li>
      <li role="presentation"><a href="#acces">Accès</a></li>
      <li role="presentation"><a href="#seloger">Se loger</a></li>
      <li role="presentation"><a href="#activites">Activités</a></li>
      <li role="presentation"><a href="#listedemariage">Liste de mariage</a></li>
      <li role="presentation"><a href="#nouscontacter">Nous contacter</a></li>
    </ul>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-offset-1 col-sm-5 text-center text-accueil">
      <p>Bonjour et bienvenue !</p>
      <p>Nous serons très heureux de vous compter </br>parmi nous <strong>le 2 septembre</strong> prochain à Wissant pour célébrer notre mariage.</p>
      <p>Vous trouverez sur notre site toutes les informations dont vous aurez besoin pour cette belle journée :)</p>
      <p>A très vite !</p>
      <p>Valentine et Thomas</p>
    </div>
    <div class="col-xs-12 col-sm-6 profil-image">
      <%= cl_image_tag("IMG_1043_nosnae.jpg") %>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="text-center" id="deroulement">
      <h3>Déroulement de la journée</h3>
    </div>
  </div>
  <div class="row arrow-center">
    <%= cl_image_tag("down-arrow-sketch_1_irbbh0.png") %>
  </div>
  <div class="row">
    <div class="text-center">
      <h4>La célébration</h4>
    </div>
    <hr>
  </div>
  <br>
  <div class="row">
    <div class="col-xs-12 col-sm-offset-1 col-sm-5 eglise">
      <%= cl_image_tag("DSC_0722_oa5ido_cqkvb5.jpg") %>
    </div>
    <div class="col-xs-12 col-sm-offset-1 col-sm-5 eglise-picto">
      <table>
        <tr>
          <td><%= cl_image_tag("placeholder_cx8wrm.png") %></td>
          <td><a target="_blank" href="https://www.google.fr/maps/place/2+Place+de+la+Mairie,+62179+Wissant/@50.8856065,1.6613031,18z/data=!3m1!4b1!4m5!3m4!1s0x47dc24dcadc42d17:0x7887c41fad90e1bd!8m2!3d50.8856048!4d1.6623974"><p>A l'église St Nicolas de Wissant</p></a></td>
        </tr>
      </table>
      <br>
      <table>
        <tr>
          <td><%= cl_image_tag("clock-circular-outline_rttasu.png") %></td>
          <td>A 14h30</td>
        </tr>
      </table>
      <br>
      <table>
        <tr>
          <td><%= cl_image_tag("priest_cvsf9y.png") %></td>
          <td><p>Célébrée par le Père Bizet</p></td>
        </tr>
      </table>
    </div>
  </div>
  <br>
  <div class="row arrow-center">
    <%= cl_image_tag("down-arrow-sketch_3_yi6h6u.png") %>
  </div>
  <div class="row">
    <div class="text-center">
      <h4>Le cocktail</h4>
    </div>
    <hr>
  </div>
  <br>
  <div class="row">
    <div class="col-xs-12 col-sm-offset-1 col-sm-5 magreville">
      <%= cl_image_tag("14128760_1272105416135189_1968825972_n_zdsaqf.jpg") %>
    </div>
    <div class="col-xs-12 col-sm-offset-1 col-sm-5 picto">
      <table>
        <tr>
          <td><%= cl_image_tag("placeholder_cx8wrm.png") %></td>
          <td><a target="_blank" href="https://www.google.fr/maps/place/La+Magreville,+cocktail+et+r%C3%A9ception/@50.7237214,1.7809677,15z/data=!4m2!3m1!1s0x0:0x54d7d2c8b917124b?sa=X&ved=0ahUKEwipvqKgjtbRAhWD7BQKHU7BB5sQ_BIIcDAK"><p>A la Magreville, à Bellebrune</p></a></td>
        </tr>
      </table>
      <br>
      <table>
        <tr>
          <td><%= cl_image_tag("car_bpy7my.png") %></td>
          <td><p>A 25mn en voiture</p></td>
        </tr>
      </table>
      <br>
      <table>
        <tr>
          <td><%= cl_image_tag("clock-circular-outline_rttasu.png") %></td>
          <td><p>A 17h</p></td>
        </tr>
      </table>
    </div>
  </div>
  <br>
  <br>
  <br>
  <div class="row arrow-center">
    <%= cl_image_tag("down-arrow-sketch_2_nfkhfc.png") %>
  </div>
  <div class="row">
    <div class="text-center">
      <h4>Le diner</h4>
    </div>
  <hr>
  </div>
  <br>
  <div class="row">
    <div class="col-xs-12 col-sm-offset-1 col-sm-5 magreville">
      <%= cl_image_tag("IMG_0533_xuck4n_jiyrsh_payecx.jpg") %>
    </div>
    <div class="col-xs-12 col-sm-offset-1 col-sm-5 picto">
      <div class="information-diner">
        <table>
          <tr>
            <td><%= cl_image_tag("placeholder_cx8wrm.png") %></td>
            <td><a target="_blank" href="https://www.google.fr/maps/place/La+Magreville,+cocktail+et+r%C3%A9ception/@50.7237214,1.7809677,15z/data=!4m2!3m1!1s0x0:0x54d7d2c8b917124b?sa=X&ved=0ahUKEwipvqKgjtbRAhWD7BQKHU7BB5sQ_BIIcDAK"><p>A la Magreville, à Bellebrune</p></a></td>
          </tr>
        </table>
        <br>
        <table>
          <tr>
            <td><%= cl_image_tag("clock-circular-outline_rttasu.png") %></td>
            <td><p>A 19h30</p></td>
          </tr>
        </table>
      </div>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="text-center" id="acces">
      <h3>Comment se rendre à Wissant ?</h3>
    </div>
  <hr>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-offset-2 col-sm-4">
      <h5>De Lille</h5>
      <ul>
        <li>En voiture : 1h20 via l'A25</li>
        <li>En train : 45mn = 30mn via la gare de Calais Frethun + 15mn de voiture</li>
      </ul>
    </div>
    <div class="col-xs-12 col-sm-offset-1 col-sm-4">
      <h5>De Paris</h5>
      <ul>
        <li>En voiture : 2h45 via l'A16</li>
        <li>En train : 1h50 = 1h35 via la gare de Calais Frethun + 15mn de voiture</li>
      </ul>
    </div>
  </div>
  <br>
  <div class="row">
    <iframe src="https://www.google.com/maps/d/embed?mid=1qMs4YVvxPaK567Ea_WsN-fsKvGY" width="100%" height="400"></iframe>
  </div>
  <div class="row">
    <div class="text-center" id="seloger">
      <h3>Se loger</h3>
    </div>
  <hr>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-offset-3 col-sm-6 text-center">
      <p>Nous avons fait le tour de la Magreville et réalisé une liste de logements à proximité. N'hésitez pas à réserver :)</p>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-12 text-center logement">
      <table>
        <tr>
          <td><%= cl_image_tag("person-lying-on-bed-inside-a-home_bxq3or.png") %></td>
          <td><%= link_to "Télécharger la liste", asset_path("FicheLogements.pdf"), target: "_blank" %></td>
        </tr>
      </table>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="text-center" id="activites">
      <h3>Activités autour de Wissant</h3>
    </div>
  <hr>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-4">
      <div class="card" style="background-image: url('http://res.cloudinary.com/dvwx7yfcs/image/upload/v1490653807/capblancnez_t74dd1_gvg6eh.jpg');">
        <div class="card-description">
          <h4>Balade au cap blanc nez</h4>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-4">
      <div class="card" style="background-image: url('http://res.cloudinary.com/dvwx7yfcs/image/upload/v1490653875/DSC_1178_skr1tw.jpg');">
        <div class="card-description">
          <h4>VTT dans les terres</h4>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-4">
      <div class="card" style="background-image: url('http://res.cloudinary.com/dvwx7yfcs/image/upload/v1490653920/DSC_1297_enfxop.jpg');">
        <div class="card-description">
          <h4>Pêche à la crevette !</h4>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-4">
      <div class="card" style="background-image: url('http://res.cloudinary.com/dvwx7yfcs/image/upload/v1490653911/DSC_0411_rauwwr.jpg');">
        <div class="card-description">
          <h4>Mölkky sur la digue</h4>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-4">
      <div class="card" style="background-image: url('http://res.cloudinary.com/dvwx7yfcs/image/upload/v1490653887/DSCN2231_epwrum.jpg');">
        <div class="card-description">
          <h4>Session Kitesurf :)</h4>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-4">
      <div class="card" style="background-image: url('http://res.cloudinary.com/dvwx7yfcs/image/upload/v1490653812/DSC_0769_bd7yo0_ypvf3y.jpg');">
        <div class="card-description">
          <h4>Visite de la brasserie des 2 Caps</h4>
        </div>
      </div>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-xs-12 col-sm-6 gift">
      <div class="text-center" id="listedemariage">
        <h3>Notre liste d'envies</h3>
      </div>
      <hr>
      <table>
        <tr>
          <td><%= cl_image_tag("gift_ktvhzq.png") %></td>
          <td><a target="_blank" href="http://www.millemercismariage.com/valentinethomas/liste.html"><p>Vous la trouverez sur le site Mille Mercis ou en cliquant ici !</p></a></td>
        </tr>
      </table>
    </div>
    <div class="col-xs-12 col-sm-6 contact">
      <div class="text-center" id="nouscontacter">
        <h3>Nous contacter</h3>
      </div>
      <hr>
      <table>
        <tr>
          <td class="hidden-xs"><%= cl_image_tag("contact_1_fouyzy.png") %></td>
          <td><p>Pour nous envoyer des petits mots, c'est par ici :</p><p><a class="text-center" href="mailto:valentinethomasmulliez@gmail.com">valentinethomasmulliez@gmail.com</a></p></td>
        </tr>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-12">
      <div class="banner-end" style="background-image: url('http://res.cloudinary.com/dvwx7yfcs/image/upload/v1490653822/Capture_d_e%CC%81cran_2017-01-22_a%CC%80_16.13.22_gdroa7.png');">
        <div class="hidden-xs banner-end-description text-center">
          <h3 class='text-center'>Rendez-vous le 2 septembre !</h3>
        </div>
        <div class="hidden-sm hidden-lg hidden-md banner-end-description-mobile text-center">
          <h3 class='text-center'>Rendez-vous le 2 septembre !</h3>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="footer">
  <div class="col-xs-12 col-sm-12 text-center">
    <p class="center-vertical">Powered by Valou et Thom :)</p>
  </div>
</div>


